<div th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <header>
        <div class="container">
            <h1>Movie Reviews</h1>
            <nav>
                <ul>
                    <li><a th:href="@{/movies}">Movies</a></li>
                    <li><a th:href="@{/users}">Users</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/movie-form}">Add movie</a></li>
                    <li><a th:href="@{/user-form}">Add user</a></li>
                </ul>
            </nav>
        </div>
    </header>.
</div>